.development-top-text__container {
  margin: 5px;
  background: $light-transparent;
  border-radius: 10px;
  border-bottom: 5px solid $dark-light;
}

.development-top-text__container h1 {
  font-family: "Kalam", cursive;
  text-align: center;
  font-size: 1rem;
  color: $dark;
  font-weight: normal;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  -webkit-box-flex: 33%;
  -ms-flex: 33%;
  flex: 33%;
  max-width: 33%;

  @media screen and (max-width: 375px) {
    flex: 100%;
    max-width: 100%;
  }
}

.column img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 0;
  transition: all 0.2s ease-in-out;
}

.container {
  font-family: "Kalam", cursive;
  text-align: center;
  font-size: 1rem;
  color: $dark;
  position: relative;
  text-align: center;
  background-color: $light-transparent;
  border-radius: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  height: 360px;

  & :hover .text-wrapper p {
    filter: drop-shadow(5px 5px 5px);
  }

  & :hover .project-img {
    filter: grayscale(0);
  }
}

.project-link {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
}

.project-img {
  filter: grayscale(1);
}

.text-wrapper {
  position: relative;
  height: 70px;
  width: 95%;
  margin: 0 auto;
}

.text-wrapper p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.up-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $light-transparent;
  color: $dark;
  font-family: "Kalam", cursive;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 5px solid $dark-light;
  &:hover {
    background-color: $dark-light;
    color: white;
    border-bottom: 5px solid $light-transparent;
  }
  @media screen and (max-width: 375px) {
    font-size: 1.4rem;
  }
  @media screen and (max-width: 414px) {
    font-size: 1.5rem;
  }
}

.development-link {
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $light-transparent;
  color: $dark;
  font-family: "Kalam", cursive;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 5px solid $dark-light;
  &:hover {
    background-color: $dark-light;
    color: white;
    border-bottom: 5px solid $light-transparent;
  }
}
