$dark: hsl(50, 14%, 9%);
$dark-transparent: hsla(50, 14%, 9%, 0.7);
$dark-light: hsl(29, 20%, 43%);
$dark-light-transparent: hsla(29, 20%, 43%, 0.7);
$light: hsl(38, 63%, 85%);
$light-transparent: hsla(38, 63%, 85%, 0.8);
$white: hsl(0, 0%, 100%);

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-image: url("./img/background-1080.png");
  background-repeat: repeat;
  background-size: cover;
  cursor: pointer;
  &::-webkit-scrollbar {
    display: none;
  }
}

@import "_index.scss", "_photography.scss", "_development.scss"; ;
